<ul class="questions">
  <li><em><strong>Teacher Questions<em></strong><br>
  Please contact us to schedule a meeting.</li>
  <br>
  <li><em><strong>Teacher Questions</em></strong><br>
  Students as young as 16 may be eligble.</li>
  <br>
  <li><em><strong>Teacher Questions</em></strong><br>
  Yes. Transportation is arranged through the school.</li>
  <br>
  <li><em><strong>Teacher Questions</em></strong><br>
  In some cases a student may be able to work year round.</li>
  <br>
  <li><em><strong>Teacher Questions</em></strong><br>
  The process typically takes about 2 months from the initial assessment.</li>
</ul>
