/*** Globals ***/

html, body {
  position: relative;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
}

h1.h1 {
  margin-top: 30px;
  padding-top: 5px;
  color: rgba(45, 45, 45, 0.9);
  font-family: 'Noto Serif', serif;
  font-size: 1em;
  text-align: center;
}

/**** Header and Navigation ****/

.navigation {
  list-style: none;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  width: 100%;
  height: 12%;
  padding: none;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 30px;
  color: rgba(45, 45, 45, 0.9);
  width: 250px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.50em;
  cursor: pointer;
}

.navigation a:hover {
  color: #00A8E8;
  text-decoration: none;
}

#logo {
  width: 40%;
  color: rgba(45, 45, 45, 0.9);
  padding-top: 10px;
  font-size: 25px;
  font-family: 'Noto Serif', serif;
  font-weight: 300;
}

/*** Homepage container ***/

#about {
  background-color: #ffffff;
  position: relative;
  height: 64%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  border-bottom: thin solid rgba(0, 0, 0, 0.2);

}

#main-content-panel {
  background-image: url('lightbulbs.jpg');
  background-size: 375px 375px;
  background-repeat: no-repeat;
  background-position: top right;
  text-align: left;
  height: 375px;
  width: 70%;
  margin: 80px 15% 0 15%;
  padding: 50px 30px 50px 30px;
  background-color: #ffffff;
  border-bottom: thick solid #00A8E8;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  z-index: 10;
}

#main-panel-text {
  text-align: left !important;
  margin-top: 2%;
  height: 150px;
  width: 500px;
  line-height: 25px;
}

#button-container {
  float: right;
  margin: -120px 60px 0 0;
}

a#main-panel-button {
  padding: 15px 80px 15px 80px;
  font-size: 20px;
  color: rgba(45, 45, 45, 0.9);
  background-color: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(89, 89, 89, 0.77);
  cursor: pointer;
}

a#main-panel-button:hover {
  border-color: black;
  color: black;
  text-decoration: none;
}

/* Bottom menu buttons */

.bottom-menu {
  width: 100%;
  height: 14%%;
  background-color: #ffffff;
  border-bottom: solid #00A8E8;,
}

.menu-button {
  background: #ffffff;
  width: 19.75%;
  line-height: 90px;
  color: rgba(45, 45, 45, 0.9);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  text-align: center;
  cursor: pointer;
}

.menu-button:hover {
  border-color: rgba(45, 45, 45, 0.9);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}


/*** Services Section ***/

.modal {
  display: none;
}

.modal:target {
  display: block;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.services {
  height: 850px;;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  border-bottom: thin solid rgba(0, 0, 0, 0.2);
}

#service-title-box {
  height: 80px;
  margin: 0 auto;
  margin-top: 3%;
  text-align: center;;
  color: rgba(45, 45, 45, 0.9);
  font-family: 'Noto Serif', serif;
  font-size: 1.25em;
}

#service-subtitle {
  height: 75px;
  margin: 0 auto;
  text-align: center;;
  color: rgba(45, 45, 45, 0.9);
  font-family: 'Open Sans', sans-serif;
  font-size: .50em;
}

div#services-panel {
  width: 70%;
  height: 650px;
  margin: 0 auto;

}

.service_detail {
  margin: 10% auto;
  height: 400px;
  width: 600px;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px; ;
  text-align: center;
  border-color: rgba(#2d2d2d, 0.9);
  border-style: solid;
  border-width: 1px;
}

.sectionTitle {
  font-size: 1.5em;
}

.flex-container {
  justify-content: space-between;
}

.service-icon {
  margin-bottom: 60px;
  padding-top: 3%;
  width: 300px;
  height: 300px;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.service-icon:hover {
  border-color: #00A8E8;
  color: #00A8E8;
}

.fa-lightbulb-o {
  color: rgb(255, 214, 0);
}

.fa-cogs {
  color: #1678bf;
}

.fa-graduation-cap {
  color: rgb(0,0,0);
}
.fa-level-up {
  color: rgb(255, 161, 0);
}

.fa-thumbs-o-up {
  color: rgb(3, 184, 0);
}

.fa-bar-chart {
  color: rgb(71, 170, 167);
}

.learn-more-btn{
  padding: 10px 35px 10px 35px;
  font-size: 14px;
  font-family: "Noto Serif", serif;
  color: rgba(45, 45, 45, 0.9);
  background-color: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.learn-more-btn:hover {
  border-color: black;
  text-decoration: none;
  color: black;
}

/*** Resources Section ***/

#resources {
  height: 400px;
  width: 100%;
  color: #ffffff;
  background: #007EA7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

.resource-containers {
  width: 50%;
  height: 300px;
}

.resource-items {
  font-size: .75em;
  color: #ffffff;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
}

#resources-text {
  font-size: 20px;
}

#resource-button {
  padding: 15px 80px 15px 80px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.resource-items:hover {
  cursor: pointer;
  color: rgba(45, 45, 45, 0.9);
  border-color: rgba(45, 45, 45, 0.9);
}

/*** FAQ Section ***/

#faq {
  margin-top: 3%;
  height: 700px;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

ul {
  list-style: none;
}

.btn-default {
  margin: 0 5% 0 5%;
  border-color: #00A8E8 !important;
  border-style: solid !important;
}

.questions {
  font-size: 20px;
  text-align: left;
  margin: 40px 0 0 25%;
}

#form {
  height: 400px;
  width: 100%;
  background-color: rgb(236, 234, 234);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

/*** Partner Worksites Section ***/

#partners {
  margin-top: 3%;
  height: 700px;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

.list-container {
  margin: 5% 5% 0 0 ;
  width: 100%;
  padding: 40px 0 40px 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 4;
  font-size: 23px;
  background-color: #f8f8f8;
}

/*** News Section ***/

#newsSection {
  background-image: url("blurred-background.jpg");
  background-size: 100%;
  height: 400px;
  width: 100%;
}

.newsContent {
  color: #ffffff;
  margin: 3.5%;
}

#newsDetail {
  font-weight: 300;
  font-size: 2.5em;
  height: 375px;
  width: 500px;
}

#newsBox {
  height: 300px;
  width: 300px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 5px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 5em;
  text-align: center;
  padding-top: 80px;
}

.flex-container {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


/*** Contact Form ***/

#contact_form {
  height: 600px;
  width: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  border-top: thick solid #00A8E8;
}

#contact-label {
  color: #fff;
  font-size: 1.5em;
  font-family: "Noto Serif", serif;
}

#form_fields {
  margin: 0 auto;
  color: black;
  padding: 100px 0 0 0;

}
#name, #email {
  width: 400px;
  height: 50px;
  margin-top: 20px;
}

input {
  border: 0;
  border-radius: 2px;
  font-size: 12px;
}

#message {
  border: 0;
  width: 400px;
  border-radius: 2px;
  height: 80px;
  margin-top: 20px;
}

button#form_button {
  border: 0;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
}
