<div class="flex-container service_detail">
  <div class="flex-item service-detail-container">
  <h1 class="sectionTitle">Evaluations</h1>
  Participating students will be evaluated each marking period <br>
  in categories such as attendance, punctuality, attitude <br>
  towards work, following directions, accepting constructive <br>
  criticism, etc. These evaluations provide feedback which <br>
  identifies areas of strengths and areas that need to improve.
  <br>
  <br>
  <a href="#services-container" class="backBtn learn-more-btn">Close</a>
</div>
</div>
