<div class="flex-container service_detail">
  <div class="flex-item">
  <h1 class="sectionTitle">Transition Planning</h1>
  Transition plans provide a path designed take students <br>
  from where they are to where they want to be after exiting <br>
  high school. The Individual Education Plan (IEP) provides <br>
  the framework needed to identify realistic employment goals <br>
  for each student, with input from the student, parents, <br>
  teachers, and transition coordinator. Most students are <br>
  given the opportunity to build skills through community employment.
  <br>
  <br>
  <a href="#services-container" class="backBtn learn-more-btn">Close</a>
</div>
</div>
