<div class="services">
  <h1 class="h1">Services</h1>
<div id="wrapContainer">
    <ul class="flex-container">
      <li class="flex-item service-icon"><i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i> <br> Career Internships <br><span style="font-size:16px; font-weight:300">For students to explore various jobs <br>
        and careers through unpaid internships</span><br><a class="careers learn-more btn btn-default">Learn more</a></li>
      <li class="flex-item service-icon"><i class="fa fa-cogs fa-3x" aria-hidden="true"></i> <br> Work Study Programs <br><span style="font-size:16px; font-weight:300">For students to build skills<br>
        through part-time employment</span><br><a class="learn-more  btn btn-default work"> Learn more</a></li>
      <li class="flex-item service-icon"><i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i> <br>Academic Credit <br><span style="font-size:16px; font-weight:300"> Participating students earn credit <br>
        towards graduation while working</span><br><a class="learn-more grad btn btn-default"> Learn more</a></li>
      <li class="flex-item service-icon"><i class="fa fa-level-up fa-3x" aria-hidden="true"></i> <br> Transition Planning <br><span style="font-size:16px; font-weight:300">IEP Teams develop individual plans to <br>
        help students attain realistic goals</span><br><a class="learn-more planning btn btn-default"> Learn more</a></li>
      <li class="flex-item service-icon"><i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i> <br> Job Coaching <br><span style="font-size:16px; font-weight:300">Students receive support on <br> the job
        and useful feedback</span><br><a class="learn-more coaching btn btn-default"> Learn more</a></li>
      <li class="flex-item service-icon"><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i> <br>Evaluations <br><span style="font-size:16px; font-weight:300"> Student performance on the <br>
        job is evaluated regularly</span><br><a class="learn-more assess btn btn-default">Learn more</a></li>
    </ul>
  </div>
</div>
