<div class="flex-container service_detail">
  <div class="flex-item service-detail-container">
  <h1 class="h1">Work Study Programs</h1>
  This type of work experience begins in entry-level positions <br>
  which allow students the opportunity to advance as they build <br>
  skills and experience. While paid employment is often a goal <br>
  for transition students, it is not appropriate for every student <br>
  in training. The transition process is designed to prepare <br>
  students for employment after they exit high school. <br>
  When appropriate, students with part-time jobs can be <br>
  accommodated through the transition program. <br>
  <a class="backBtn learn-more-btn">Back To Services</a>
</div>
</div>
