<div class="flex-container service_detail">
  <div class="flex-item service-detail-container">
  <h1 class="h1">Job Coaching</h1>
  Students need a safe environment to make mistakes <br>
  and learn from them.  Job coaching provides an added <br>
  layer of support to help students acclimate to the new <br>
  environment and  learn specific tasks.The level of <br>
  support is determined by the IEP Team with the <br>
  ultimate goal of building student independence on the job.
  <br>
  <br> 
  <a class="backBtn btn btn-default">Back To Services</a>
</div>
</div>
